@import 'theme';

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}

body {
	--primary: #{$primary};
	--secondary: #{$secondary};
}

.emoji {
	height: 1em;
	position: relative;
	top: .2em;
	margin-left: .2em;
	margin-right: .2em;
}

input:not([type='range']) {
	padding: .75rem;
	font-size: 1rem;
	line-height: 1.5;
	background-color: #fff;
	border: 1px solid $primary;
	border-radius: .25rem;
}

button, .btn {
	color: #fff;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	background-color: $primary;
	border: 1px solid darken($primary, 10%);
	padding: .75rem 1.25rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: all .3s ease-in-out;
	text-decoration: none;
	&:hover, &.active {
		background-color: darken($primary, 10%);
		color: #fff;
	}
	&.btn-block {
		display: block;
	}
}

.jumbotron {
	max-width: 24rem;
	margin: 6rem auto;
}

.my {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.flex-1 {
	flex: 1 1 auto;
}

.big {
	font-size: 1.25em;
}

.alert {
	border: 1px solid $primary;
	border-radius: 1rem;
	padding: 1rem;
	margin: 2rem 0;
}
